<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результат</title>
    <!-- Подключаем CSS Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="grey lighten-4">
    <div class="container mt-5">
        <!-- Вывод ID записки -->
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Контент записки:</span>
                        <p id="noteId">{{ note_text }}</p> <!-- Здесь будет выводиться ID записки -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Кнопка для возвращения в корень проекта -->
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <button class="btn waves-effect waves-light" onclick="returnToRoot()">Вернуться</button>
            </div>
        </div>
    </div>

    <!-- Подключаем JavaScript и ваш собственный скрипт -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // Инициализация Materialize CSS элементов
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });

        // Функция для возвращения в корень проекта
        function returnToRoot() {
            document.location.href = '/';
        }
    </script>
</body>
</html>
